{% extends 'miprimeraAplicacion/inicio.html' %}
{%block contenido%}

{%endblock%}

<div style="float:left; width:670px;"> <img src="{% static 'miprimeraAplicacion/images/cnt_btn2.gif'%}" width="5" height="5" alt="" class="cnt_btn2" />
    <div class="cnt_txt1">¿Qué es el Cáncer de Mama?
        El cáncer de mama es una enfermedad en la cual las células de la mama se multiplican sin control. Existen distintos tipos de cáncer de mama. El tipo de cáncer de mama depende de qué células de la mama se vuelven cancerosas.
        
        El cáncer de mama puede comenzar en distintas partes de la mama. Las mamas constan de tres partes principales: lobulillos, conductos y tejido conectivo. Los lobulillos son las glándulas que producen leche. Los conductos son los tubos que transportan la leche al pezón. El tejido conectivo (formado por tejido fibroso y adiposo) rodea y sostiene todas las partes de la mama. La mayoría de los cánceres de mama comienzan en los conductos o en los lobulillos.</div>
  </div>