{% extends 'miprimeraAplicacion/inicio.html' %}
{% load static %}
{%block contenido%}
<h1><center><p>Carcinoma mucinoso de la mama</p></center><h1>
    <h2>El carcinoma mucinoso de la mama, a veces llamado carcinoma coloideo, es una forma poco frecuente de carcinoma ductal invasivo (cáncer que comienza dentro del conducto lácteo y se propaga fuera de él). El carcinoma mucinoso de la mama representa cerca del 2-3 % de todos los casos de cáncer de mama. En este tipo de cáncer, el tumor se forma a partir de células anómalas que “flotan” en acumulaciones de mucina, uno de los principales componentes de la sustancia viscosa y escurridiza conocida como moco.</h2>

        <h2>Comúnmente, esta mucosidad recubre la mayoría de las superficies internas del cuerpo humano, entre ellas, el tubo digestivo, los pulmones, el hígado y otros órganos vitales. Muchos tipos de células cancerosas (entre ellas, la mayoría de las células de cáncer de mama) producen esta mucosidad. Sin embargo, en el carcinoma mucinoso, la mucosidad se convierte en una parte principal del tumor y rodea las células del cáncer de mama.</h2>
        
        <h2>El carcinoma mucinoso suele afectar a las mujeres postmenopáusicas. Algunos estudios indican que la edad promedio al momento del diagnóstico es de 60 años o más.</h2>

        <div class="tp_bg"><center><a href="#"><img src="{% static 'miprimeraAplicacion/images/camm.jpg'%}" width="800" height="600" alt="" class="cdi" /></center></a>


            <center><div class="rp_listblock"><a href="{% url 'inicio' %}" class="menu1"><img src="{% static 'miprimeraAplicacion/images/inicio.jpg'%}" width="200" height="100" alt="" class="rp_btn3" /></center>

{%endblock%}