{% extends 'miprimeraAplicacion/inicio.html' %}
{% load static %}
{%block contenido%}

<h1><center><p>CDI: carcinoma ductal invasivo</p></center></h1>
    <h2>El carcinoma ductal invasivo (CDI), a veces denominado carcinoma ductal infiltrante, es el tipo más común de cáncer de mama. Alrededor del 80 % de todos los casos de cáncer de mama son carcinomas ductales invasivos.

        Invasivo significa que el cáncer ha “invadido” o se ha propagado hacia los tejidos mamarios que lo rodean. </h2>
        <h2>Ductal significa que el cáncer comenzó en los conductos lácteos, que son las “tuberías” que transportan la leche desde los lobulillos productores de leche al pezón. Carcinoma hace referencia a todo cáncer que se origina en la piel o en otros tejidos que revisten órganos internos, como el tejido mamario. En conjunto, “carcinoma ductal invasivo” hace referencia al cáncer que ha atravesado la pared del conducto lácteo y ha comenzado a invadir los tejidos de la mama. Con el tiempo, el carcinoma ductal invasivo puede propagarse hacia los ganglios linfáticos y posiblemente a otras áreas del cuerpo.</h2>
        
        <h2>De acuerdo con la Sociedad Americana del Cáncer, cada año más de 180.000 mujeres en los Estados Unidos descubren que padecen cáncer de mama invasivo. A la mayoría de ellas se les diagnostica carcinoma ductal invasivo.</h2>
        
        <center><h3>Aunque este carcinoma puede afectar a mujeres de cualquier edad, resulta más común a medida que la mujer envejece. Según la Sociedad Americana del Cáncer, aproximadamente dos tercios de las mujeres que son diagnosticadas con cáncer de mama invasivo tienen 55 años o más. El carcinoma ductal invasivo también afecta a los hombres.</h3></center>

        <div class="tp_bg"><a href="#"><img src="{% static 'miprimeraAplicacion/images/cdi.jpg'%}" width="800" height="600" alt="" class="cdi" /></a>
        <center><h3><p> Mama normal con carcinoma ductal invasivo (CDI) en una sección transversal agrandada del conducto</p>
            <p>Perfil de la mama:</p>
            <p>A) conductos</p>
            <p>B) lobulillos</p>
            <p>C) sección dilatada del conducto para almacenar leche</p>
            <p>D) pezón</p>
            <p>E) grasa</p>
            <p>F) músculo pectoral mayor</p>
            <p>G) pared/caja torácica</p>
            
            <n><p>ACERCAMIENTO</p></n>
            <p>A) células del conducto normales</p>
            <p>B) células cancerosas del conducto invaden la membrana basal</p>
            <p>C) membrana basal</p></h3></p></center>

        

            <div class="rp_listblock"><center><a href="{% url 'inicio' %}" class="menu1"><img src="{% static 'miprimeraAplicacion/images/inicio.jpg'%}" width="200" height="100" alt="" class="rp_btn3" /></center>
{%endblock%}