{% extends 'miprimeraAplicacion/inicio.html' %}
{% load static %}
{%block contenido%}
<h1><center><p>Carcinoma tubular de la mama</p></center><h1>
    <h2>El carcinoma tubular de la mama es un subtipo poco común de carcinoma ductal invasivo (cáncer que comienza dentro del conducto lácteo y se propaga fuera de él). El carcinoma tubular representa cerca del 1-2 % de todos los casos de cáncer de mama. En este tipo de cáncer, el tumor generalmente es pequeño y está formado por células con forma de tubo que son de bajo grado. “Bajo grado” hace referencia a que tienen una apariencia similar a las células normales sanas y a que suelen crecer lentamente.</h2>

        <h2>El carcinoma tubular de la mama presenta menos probabilidades de propagarse fuera de la mama que otros tipos de cáncer de mama. Asimismo, es más fácil de tratar.</h2>
        
        <h2>Las investigaciones indican que la edad promedio para el diagnóstico de carcinoma tubular está entre los 45 y los 65-70 años.</h2>

        <div class="tp_bg"><center><a href="#"><img src="{% static 'miprimeraAplicacion/images/cmm.jpg'%}" width="800" height="600" alt="" class="cdi" /></center></a>

            <center><div class="rp_listblock"><a href="{% url 'inicio' %}" class="menu1"><img src="{% static 'miprimeraAplicacion/images/inicio.jpg'%}" width="200" height="100" alt="" class="rp_btn3" /></center>

{%endblock%}