{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cancer de Mama </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="{% static 'miprimeraAplicacion/css/style.css'%}"/>
</head>
<body> 
<div id="mainblock">
  <div id="innerblock">
    <div id="toppanel">
      <center><div class="tp_heading"><b>OCTUBRE MES DE SENSIBILIZACION DEL CANCER DE MAMA</b></div>
      <div class="tp_bg"> <a href="#"><img src="{% static 'miprimeraAplicacion/images/01.jpg'%}" width="1000" height="300" alt="" class="mama" /></a></center>
  
      </div>
      <div class="fp_menutile"> <a href="{% url 'informacion' %}" class="menu1">¿ Que es el cancer de Mama ?</a> 
        <img src="{% static 'miprimeraAplicacion/images/tp_divider.gif'%}" width="2" height="59" alt="" class="tp_divider" /> <a href="{% url 'causas' %}" class="menu2">Causas y efectos</a> 
        <img src="{% static 'miprimeraAplicacion/images/tp_divider.gif'%}" width="2" height="59" alt="" class="tp_divider" /> <a href="{% url 'apoyo' %}" class="menu2">Acciones de Apoyo</a>
        <img src="{% static 'miprimeraAplicacion/images/tp_divider.gif'%}" width="2" height="59" alt="" class="tp_divider" /> <a href="https://brexia.mx/cancer-de-mama12/?gclid=EAIaIQobChMI2ePuzJHB7AIVBTiGCh3fiw-NEAAYAiAAEgL7i_D_BwE" class="menu2">Otras Paginas</a> 
        <img src="{% static 'miprimeraAplicacion/images/tp_divider.gif'%}" width="2" height="59" alt="" class="tp_divider" /> <a href="{% url 'contacto' %}" class="menu2">Contacto</a> 
    
      </div>
    </div>
  
    
    <div class="cnt_txt1"><h2>Hemos seleccionado este contenido pero en la web encontrarás más información sobre el cáncer en general y que también aplica al cáncer de mama.</h2>

      <h2>Recuerda que es fundamental que confíes en tu equipo médico y que compartas con ellos tus dudas e inquietudes, son los que mejor conocen tu historia clínica. La información de esta página es divulgativa no puede sustituir la atención medica, sirve para apoyar a enfermos, familiares de cáncer y sociedad en general y en ningún caso sustituye la opinión o las prescripciones de los profesionales.</h2></div>
      <ul>
<li><a href="https://www.facebook.com/openwebinars" title="OpenWebinars en Facebook" class="facebook" target="_blank" rel="noreferrer"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="https://twitter.com/openwebinars" title="OpenWebinars en Twitter" class="twitter" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a></li>
<li><a href="https://www.instagram.com/openwebinarsnet/" title="OpenWebinars en Instagram" class="instagram" target="_blank" rel="noreferrer"><i class="fab fa-instagram"></i></a></li>
<li><a href="https://es.linkedin.com/company/openwebinars" title="OpenWebinars en Linkedin" class="likedin" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
</ul>
  </div>
    <div class="contentblock">
      <div class="contentpanel">
        <div class="cnt_headingblock">  <img src="{% static 'miprimeraAplicacion/images/galeria.jpg'%}" width="151" height="30" alt="" class="cnt_heading" /> </div>
        <div style="float:left; padding-bottom:55px;"> <img src="{% static 'miprimeraAplicacion/images/10.jpg'%}" width="161" height="120" alt="" class="cnt_image1" /> <img src="{% static 'miprimeraAplicacion/images/08.jpg'%}" width="160" height="119" alt="" class="cnt_image1" /> <img src="{% static 'miprimeraAplicacion/images/09.jpg'%}" width="162" height="119" alt="" class="cnt_image1" /> </div>
        <div style="float:left; padding-bottom:55px;"> <img src="{% static 'miprimeraAplicacion/images/03.jpg'%}" width="161" height="120" alt="" class="cnt_image1" /> <img src="{% static 'miprimeraAplicacion/images/014.jpg'%}" width="160" height="119" alt="" class="cnt_image1" /> <img src="{% static 'miprimeraAplicacion/images/015.jpg'%}" width="162" height="119" alt="" class="cnt_image1" /> </div>
        <div class="cnt_headingblock"> <img src="{% static 'miprimeraAplicacion/images/cnt_btn1.gif'%}" width="13" height="13" alt="" class="cnt_btn1" /> <img src="{% static 'miprimeraAplicacion/images/011.gif'%}" width="260" height="30" alt="" class="cnt_heading" /> </div>
        <div style="float:left; width:670px;"> <img src="{% static 'miprimeraAplicacion/images/cnt_btn2.gif'%}" width="5" height="5" alt="" class="cnt_btn2" />
          
          <div class="cnt_txt1">Al igual que en otros cánceres, como el osteosarcoma o los tumores cerebrales, la causa o causas que provocan el cáncer de mama no se conocen.</div>
        </div>
        <div style="float:left; width:670px;"> <img src="{% static 'miprimeraAplicacion/images/cnt_btn2.gif'%}" width="5" height="5" alt="" class="cnt_btn2" />
          <div class="cnt_txt1">No obstante, los especialistas han identificado los factores de riesgo que predisponen a desarrollar la enfermedad: </div>
        </div>
        <div style="float:left; width:670px;"> <img src="{% static 'miprimeraAplicacion/images/cnt_btn2.gif'%}" width="5" height="5" alt="" class="cnt_btn2" />
          <div class="cnt_txt1">El cáncer de mama puede aparecer tanto en hombres como en mujeres. Sin embargo, más del 99 por ciento de los diagnósticos ocurre en mujeres.</div>
        </div>
        <a href="#"><img src="{% static 'miprimeraAplicacion/images/12.jpg'%}" width="600" height="400" alt="" class="cnt_readmore" /></a>
        {%block contenido%} 
      </div>
      <div class="rightpanel">
        <div class="rp_headingblock"> <img src="{% static 'miprimeraAplicacion/images/rp_btn1.gif'%}" width="13" height="13" alt="" class="cnt_btn1" /> <img src="{% static 'miprimeraAplicacion/images/rp_heading1.gif'%}" width="110" height="30" alt="" class="cnt_heading" /> </div>
        <div class="rp_block1">
          <div class="rp_listblock"><a href="{% url 'cdi' %}" class="menu1"><img src="{% static 'miprimeraAplicacion/images/mono.gif'%}" width="8" height="8" alt="" class="rp_btn3" />
            <p class="rp_listtxt">Carcinoma ductal invasivo</p></a>
          </div>
          <div class="rp_listblock"><a href="{% url 'cmm' %}" class="menu1"><img src="{% static 'miprimeraAplicacion/images/mono.gif'%}" width="8" height="8" alt="" class="rp_btn3" />
            <p class="rp_listtxt">Carcinoma medular de la mama</p></a>
          </div>
          <div class="rp_listblock"><a href="{% url 'camm'%}" class="menu1"><img src="{% static 'miprimeraAplicacion/images/mono.gif'%}" width="8" height="8" alt="" class="rp_btn3" />
            <p class="rp_listtxt">Carcinoma mucinoso de la mama</p></a>
          </div>
          <div class="rp_listblock"><a href="https://www.breastcancer.org/es/sintomas/tipos/cribriforme" class="menu1"><img src="{% static 'miprimeraAplicacion/images/mono.gif'%}" width="8" height="8" alt="" class="rp_btn3" />
            <p class="rp_listtxt">Carcinoma cribiforme de la mama</p></a>
          </div>
          <div class="rp_listblock"><a href="https://www.breastcancer.org/es/sintomas/tipos/inflamatorio" class="menu1"><img src="{% static 'miprimeraAplicacion/images/mono.gif'%}" width="8" height="8" alt="" class="rp_btn3" />
            <p class="rp_listtxt">Cáncer de mama inflamatorio</p></a>
          </div>
          <div class="rp_listblock"><a href="https://www.breastcancer.org/es/sintomas/tipos/en_hombres" class="menu1"><img src="{% static 'miprimeraAplicacion/images/mono.gif'%}" width="8" height="8" alt="" class="rp_btn3" />
            <p class="rp_listtxt">Cáncer de mama en hombres</p></a>
          </div>
          <div class="rp_listblock"><a href="https://www.breastcancer.org/es/sintomas/tipos/paget" class="menu1"><img src="{% static 'miprimeraAplicacion/images/mono.gif'%}" width="8" height="8" alt="" class="rp_btn3" />
            <p class="rp_listtxt">Enfermedad de Paget en el pezón</p></a>        
        </div>
        <div class="rp_headingblock"> <img src="{% static 'miprimeraAplicacion/images/rp_btn1.gif'%}" width="13" height="13" alt="" class="cnt_btn1" /> <img src="{% static 'miprimeraAplicacion/images/rp_heading2.jpg'%}" width="160" height="28" alt="" class="cnt_heading" /> </div>
        
        
        <img src="{% static 'miprimeraAplicacion/images/07.jpg'%}" width="256" height="400" alt="" class="rp_image1" /> </div>
    </div>
  
    <div class="fp_bg">
      <div id="footerblock"> <a href="{% url 'inicio' %}" class="fp_txt">Pagina Principal</a>
        <p class="fp_divi">|</p>
        <a href="https://www.cdc.gov/spanish/cancer/breast/basic_info/what-is-breast-cancer.htm" class="fp_txt">otras paginas</a>
        <p class="fp_divi">|</p>
        <a href="http://fundacioncoi.org/quienesomos?gclid=EAIaIQobChMIxLDnqI_B7AIVlOeGCh2buwViEAAYASAAEgKls_D_BwE"  class="fp_txt">Contacto</a>
        <p class="fp_divi">|</p>
        <a href="http://www.imss.gob.mx/"  class="fp_txt">IMSS</a>
        <p class="fp_divi">|</p>
        <a href="https://www.gob.mx/issste"  class="fp_txt">ISSSTE</a>
        <p class="fp_divi">|</p>
        <a href="https://brandme.la/blog/7-fundaciones-que-brindan-apoyo-contra-el-cancer-de-mama/"  class="fp_txt">Ayuda</a>
        <p class="fp_divi">|</p>
        {%endblock%}  
        <p class="fp_txt1"><a href="https://www.breastcancer.org/es/sintomas/cancer_de_mama/que_es_cancer_mama?gclid=EAIaIQobChMI0JCahI7B7AIVD0qGCh0egwTFEAAYASAAEgIlAfD_BwE" style="color:#FFFFFF;">Breastcancer All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>